# Node modules
node_modules/

# 로그 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 운영체제 파일
.DS_Store
Thumbs.db

# 환경 변수
.env.local
.env.*.local

# 빌드 결과물
dist/
build/

# VSCode 설정
.vscode/

# 기타
coverage/
.cache/
.next/
out/

components/